* {
    box-sizing: border-box;
  }

  html {
    height:100%;
    width: 100%;
    /*background-color: #d3dcdf;*/
    
  }
  ::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      background: transparent;  /* Optional: just make scrollbar invisible */
  }

body, html {
    height:100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 1.6vw;
  }

.descriptionBox > *{
    background-color: #121212;
    padding: 10px;
    padding-left: 15px;
    height: 100%;
}

.description{
    position: relative;
}

.descriptionTitle{
    display: inline-block;
    font-weight: 400;
    font-size: 4vw;
    white-space: nowrap;
    overflow: hidden;
    white-space: pre-line;
}

#descriptionBody{
    font-size: 2.5vw;
}

.tags{
    position: absolute;
    bottom: 15px;
}

.descriptionBox{
    position: fixed;
    left:0;
    height: inherit;
    width: 33.33%;
    padding: 5px;
    padding-right: 0px;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    color: #e2e2e2;
    empty-cells: hide;
}

.readMore{
    text-decoration: underline;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
    color: #121212;
    background-color: #929292;
    border: solid #929292 15px;
    transition: 600ms;
}

.readMore:empty{
    border: none;
}

.readMore::before{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #121212;
    transition: 600ms;
}

.readMore:hover::before{
    width: 100%;
}

.readMore:hover{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
}


.col-main{
    padding-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col-left{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.col-right{
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-left>*, .col-right>*{
    padding-bottom: 5px;
}

.navSpacer{
    width: 33.33%;
}

.viewport 
{
    font-size: 0;
    height:100%;
    width: 66.66%;
    right:0;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.navIcons{
    transition: 400ms;
    font-variation-settings: 'FILL' 0 ;
}

.logoIcon>*{
    height:18px;
}

.material-symbols-rounded{
    font-size: 22px;
}

.navbar{
    position: fixed; 
    display: flex;
    top: 0; 
    width: 33.33%;
    z-index: 5;
    transition: 2s;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 60px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    }
    
    .row{
        padding: 5px;
        padding-bottom: 0px;
    }
    
    .row2{
        padding: 5px;
        padding-bottom: 0px;
    
    }
    
    .row2.text{
        padding-top: 0px;
    }
    
    .row2.text>*{
        color: #e2e2e2;
        font-size: 1vw;
        border: solid 15px #121212;
        background-color: #121212;
    }

    .title{
        width: 50%;
        align-self: center;
        padding-left: 12px;
    
        font-family: "Roboto mono", sans-serif;
        font-weight: 500;
        font-size: 4vw;
        transition: font-weight 600ms;
        
        -webkit-transform:scale(0.6,1); /* Safari and Chrome */
        -moz-transform:scale(0.6,1); /* Firefox */
        -ms-transform:scale(0.6,1); /* IE 9 */
        -o-transform:scale(0.6,1); /* Opera */
        transform:scale(0.6,1); /* W3C */
    
        transform-origin: 0 0;
    
        &:hover{
            font-weight: 700;
        }
    }

    .rightIcons{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-left: 0;
        align-self: center;
    }
    
    .rightIcons>div{
        display: flex;
        padding-left: 2vw;
        padding-right: 2px;
    
        align-self: center;
    }
    
    .rightIcons>div>*{
        display: flex;
        cursor: pointer;
    }
    
    .rightIcons>div>*>*{
        align-self: center;
    }
    
    .rightIcons>div:nth-last-child(1) { 
        margin-left: auto 
    }

    
.rightIcons.desktop{
    display: none;
}

.rightIcons.mobile{
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
    flex-direction: column;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content >* {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {display: block;}

  


@media (min-width: 700px) {
    .rightIcons.desktop{
        display: flex;
    }
    
    .rightIcons.mobile{
        display: none;
    }

    .rightIcons>div:nth-last-child(3) { 
        margin-left: auto 
    }

    .rightIcons>div:nth-last-child(1) { 
        margin-left: 0
    }

    .title{
        font-size: 1.8vw;
        font-weight: 200;
        -webkit-transform:scale(1,1); /* Safari and Chrome */
        -moz-transform:scale(1,1); /* Firefox */
        -ms-transform:scale(1,1); /* IE 9 */
        -o-transform:scale(1,1); /* Opera */
        transform:scale(1,1); /* W3C */
    }

    .row{
        padding: 15px;
        padding-bottom: 0px;
    }

    .row2{
        padding: 15px;
        padding-bottom: 0px;
    }

    .descriptionTitle{
        font-size: 3vw;
    }

    #descriptionBody{
        font-size: 2vw;
    }

    .descriptionBox{
        font-size: 1.7vw;
        padding: 15px;
        padding-right: 0px;
    }

    .navbar{
        width: 33.33%;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    .logoIcon>*{
        height: 22px;
    }

    .material-symbols-rounded{
        font-size: 27px;
    }

    .descriptionBox{
        width: 33.33%;
    }

    .navSpacer{
        width: 33.33%;
    }

    
    .viewport{
        width: 66.66%;
    }

    .col-main{
        flex-direction: row;
        padding-top: 15px;
    }

    .col-left .col-right{
        width: 50%;
    }

    .col-left{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-right{
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 15px;
        padding-left: 0px;
    }

    .col-left>*, .col-right>*{
        padding-bottom: 15px;
    }

}


@media (min-width: 1200px) {
    .descriptionTitle{
        font-size: 1.8vw;
    }

    #descriptionBody{
        font-size: 1vw;
    }

    .descriptionBox{
        font-size: 1.1vw;
    }

    .logoIcon>*{
        height: 29px;
    }

    .material-symbols-rounded{
        font-size: 36px;
    }
}












.leftIcons{
    display: flex;
    flex-direction: row;
    padding-right: 15px; 
    width: 33.333%;
    align-self: center;
}


.leftIcons>div{
    display:flex;
    padding-left: 1vw;
    padding-right: 1vw;
    align-self: center;
    cursor: pointer;
    user-select: none;
    font-variation-settings: 'FILL' 0 ;
    transition: 600ms;
}

.leftIcons>div>*{
    align-self: center;
}

.navIcons:hover{
    font-variation-settings: 'FILL' 1 ;
}

/*
.leftIcons>div::before{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 600ms;
}

.leftIcons>div:hover::before{
    width: 100%;
}
*/


.title>*{
    text-decoration: none;
    cursor: pointer;
}

.title:hover{
    font-weight: 500;
}


.logoIcon{
    filter: brightness(0) saturate(1);
    transition: 400ms;
}

.logoIcon:hover{
    filter: brightness(1) saturate(1);
}


.images>*{
    filter: saturate(0.25);
    opacity: 0.75;
    transition: 400ms;
    outline:7px solid #FFFFFF;
    transition: 1.5s;
    width: 100%;
}

.imagesPage>*{
    width: 100%;
}

.images:hover>*{
    cursor: url('Icons/info_cursor.svg'), pointer;
    opacity: 1;
    filter: saturate(1);
}


#ToI.imageSelected>*{
    outline:7px solid #c2d4db;
}

#WWClock.imageSelected>*{
    outline:7px solid #ccacbd;
}

#Earphones.imageSelected>*{
    outline:7px solid #e09797;
}

#KikiWatch.imageSelected>*{
    outline:7px solid #d1a2a2;
}

#Leather.imageSelected>*{
    outline: 7px solid rgb(212, 194, 161);
}

#TaskClock.imageSelected>*{
    outline: 7px solid rgb(197, 182, 162);
}

#Hairdryer.imageSelected>*{
    outline: 7px solid #b6b6b6
}

.imageSelected>*{
    filter: saturate(1);
    opacity: 1;
}

.imageSelected{
    outline-color: #FFFFFF;
    z-index: 99;
    position: relative;
}

/*
.images::after{
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: black;
    transition: 400ms;
}

.images:hover::after{
    width: 100%;
}
*/

.cursorWrapper{
    mix-blend-mode: difference;
}